<html>
  <head>
    <meta charset="utf-8" />

    <style>
      {{asset "data/reports/assets/report.css"}}
    </style>
  </head>

  <body class="bg-white text-slate-900 text-[11px]">
    <div class="w-full">
      <!-- Header -->
      <div class="flex flex-col items-center justify-center">

        <div class="text-lg font-bold">Purchase Order Listing Report</div>
        <div class="flex items-center justify-center pb-4 gap-1">
          <div>
            <p class="font-semibold text-sm">{{formatDate StartDate}}</p>
          </div>
          <span class="text-md">~</span>
          <div>
            <p class="font-semibold text-sm">{{formatDate EndDate}}</p>
          </div>
        </div>
      </div>

      <!-- Group 1: ReceiveDate -->
      {{#each Orders}}
        <div class="">

          <div class="bg-primary px-4 py-2 text-white">
            <h2 class="text-sm font-bold">
              Receive Date:
              {{formatDate ReceiveDate}}
            </h2>
          </div>

          <!-- Group 2: TransRef -->
          {{#each (groupByTransRef Items)}}
            <div class="">

              <!-- TransRef Header -->
              <div class="px-4 py-2 border-b border-slate-300">
                <div class="flex justify-between">
                  <div>
                    <span class="font-bold text-primary">Trans Ref:</span>
                    <span class="font-semibold">{{TransRef}}</span>
                  </div>
                </div>
              </div>

              <!-- Items Table -->
              <table class="w-full border-none text-[10px]">
                <thead>
                  <tr class="">
                    <th
                      class="border-b border-slate-300 font-bold p-2 text-left"
                    >Supplier</th>
                    <th
                      class="border-b border-slate-300 font-bold p-2 text-left"
                    >Item Code</th>
                    <th
                      class="border-b border-slate-300 font-bold p-2 text-left"
                    >Item Description</th>
                    <th
                      class="border-b border-slate-300 font-bold p-2 text-right"
                    >Qty</th>
                    <th
                      class="border-b border-slate-300 font-bold p-2 text-right"
                    >Cost</th>
                    <th
                      class="border-b border-slate-300 font-bold p-2 text-right"
                    >Total Cost</th>

                  </tr>
                </thead>

                <tbody>
                  {{#each Items}}
                    <tr>
                      <td
                        class="border-b border-slate-300 p-2"
                      >{{SupplierName}}</td>
                      <td
                        class="border-b border-slate-300 p-2"
                      >{{ItemCode}}</td>
                      <td class="border-b border-slate-300 p-2">
                        {{ItemDesc}}
                      </td>
                      <td
                        class="border-b border-slate-300 p-2 text-right"
                      >{{Qty}}</td>
                      <td
                        class="border-b border-slate-300 p-2 text-right"
                      >{{formatMoney Cost}}</td>
                      <td
                        class="border-b border-slate-300 p-2 text-right font-semibold"
                      >{{formatMoney TotalCost}}</td>

                    </tr>
                  {{/each}}
                </tbody>

                <tfoot>
                  <tr class="bg-primary-soft font-bold">
                    <td
                      class="border-b border-slate-300 p-2 text-right"
                      colspan="3"
                    >
                      Total
                    </td>
                    <td
                      class="border-b border-slate-300 p-2 text-right"
                    >{{TotalQty}}</td>
                    <td class="border-b border-slate-300 p-2"></td>
                    <td
                      class="border-b border-slate-300 p-2 text-right"
                    >{{formatMoney TotalCost}}</td>
                  </tr>
                </tfoot>
              </table>
            </div>
          {{/each}}
        </div>
      {{/each}}

    </div>
  </body>
</html>