<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      {{asset "data/reports/assets/report.css"}}
    </style>
  </head>
  <body>
    <div class="">
      <div class="header flex justify-between items-center">
        <img
          src="{{ShopImage}}"
          alt="shop logo"
          class="ml-8 w-28 h-28 object-contain"
        />
        <div class="flex flex-col justify-center items-center">
          <p class="text-2xl">{{ShopName}}</p>
          <p class="text-xl">Daily Sale Detail Report</p>
          <div class="flex items-center gap-1">
            <p class="text-sm">Start Date: {{formatDate StartDate}}</p>
            <span>~</span>
            <p class="text-sm">End Date: {{formatDate EndDate}}</p>
          </div>
          <div class="">
            <p class="text-sm">Printed On: {{formatDate PrintDate}}</p>
          </div>
        </div>
        <div class="mr-24"></div>
      </div>
      {{#each (groupByDate Data)}}
        <!-- DATE GROUP HEADER -->
        <div class="date-header text-xs px-2 py-1.5 mt-2 font-semibold">
          Date:
          {{formatDate Date}}
        </div>

        <div class="detail mb-3">
          <table class="w-full border-collapse text-xs">
            <thead>
              <tr>
                <th
                  class="border-y p-1 text-center"
                  style="width: 16%;"
                >Sale</th>
                <th
                  class="border-y p-1 text-center"
                  style="width: 16%;"
                >Discount</th>
                <th class="border-y p-1 text-center" style="width: 18%;">Net
                  Price</th>
                <th
                  class="border-y p-1 text-center"
                  style="width: 16%;"
                >Cost</th>
                <th
                  class="border-y p-1 text-center"
                  style="width: 16%;"
                >Expense</th>
                <th
                  class="border-y p-1 text-center"
                  style="width: 18%;"
                >Profit</th>
              </tr>
            </thead>
            <tbody>
              {{#each Items}}
                <tr class="odd:bg-white even:bg-gray-100">
                  <td class="border-y p-1 text-center">${{SalePrice}}</td>
                  <td class="border-y p-1 text-center">${{Discount}}</td>
                  <td class="border-y p-1 text-center">${{NetPrice}}</td>
                  <td class="border-y p-1 text-center">${{Cost}}</td>
                  <td class="border-y p-1 text-center">${{Expense}}</td>
                  <td class="border-y p-1 text-center">${{Profit}}</td>
                </tr>
                <tr class="">
                  <td class="text-xs" colspan="6">
                    <div class="flex flex-col w-full">
                      <div class="border-b py-1">
                        <span class="font-semibold px-2">Payment</span>
                      </div>
                      <div class="mt-1 flex flex-col gap-1 w-full">
                        {{#each Payments}}
                          <div
                            class="flex justify-between items-center gap-1 w-full border-b border-dashed py-0.5 px-8"
                          >
                            <div class="flex items-center gap-12">
                              <span class="font-semibold w-4">{{rowNumber
                                  @index
                                }}</span>
                              <span
                                class="font-semibold text-gray-700"
                              >{{PaymentType}}</span>
                            </div>
                            <span
                              class="font-semibold text-gray-800"
                            >{{CurrencySymbol}}{{TotalReceived}}</span>
                          </div>
                        {{else}}
                          <span class="text-gray-400">No payments</span>
                        {{/each}}
                      </div>
                    </div>
                  </td>
                </tr>
              {{/each}}
              <!-- Subtotal row for the date group -->

            </tbody>
          </table>
        </div>
      {{/each}}

      <div class="w-full mt-8 flex flex-col">
        <div class="py-1 text-center border-y font-semibold w-full">Total
          Received</div>
        {{#each Payments}}
          <div
            class="flex justify-between items-center gap-1 w-full border-b border-dashed py-1 px-8 odd:bg-gray-100 even:bg-white"
          >
            <div class="flex items-center gap-12">
              <span class="font-semibold text-sm w-4">{{rowNumber
                  @index
                }}</span>
              <span
                class="font-semibold text-gray-700 text-sm"
              >{{PaymentType}}</span>
            </div>
            <span
              class="font-semibold text-gray-800 text-sm"
            >{{CurrencySymbol}}{{TotalReceived}}</span>
          </div>
        {{else}}
          <span class="text-gray-400 p-2 text-center">No payments</span>
        {{/each}}
      </div>

    </div>

  </body>
</html>