<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      {{asset "data/reports/assets/report.css"}}
    </style>
  </head>
  <body>
    <div class="">
      <div class="header flex justify-between items-center">
        <img
          src="{{ShopImage}}"
          alt="shop logo"
          class="ml-8 w-28 h-28 object-contain"
        />
        <div class="flex flex-col justify-center items-center">
          <p class="text-2xl">{{ShopName}}</p>
          <p class="text-xl">Daily Sale Detail Report</p>
          <div class="flex items-center gap-1">
            <p class="text-sm">{{formatDate StartDate}}</p>
            <span>~</span>
            <p class="text-sm">{{formatDate EndDate}}</p>
          </div>
          <div class="">
            <p class="text-sm">Printed:{{formatDate PrintDate}}</p>
          </div>
        </div>
        <div class="mr-20"></div>
      </div>
      {{#each (groupByDate Data)}}
        <!-- DATE GROUP HEADER -->
        <div class="date-header text-sm px-2 py-1.5 mt-1 font-semibold">
          Date:
          {{formatDate Date}}
        </div>

        <div class="detail mb-3">
          <table class="w-full border-collapse text-sm">
            <thead>
              <tr>
                <th
                  class="border-y p-1 text-center"
                  style="width: 16%;"
                >Sale</th>
                <th
                  class="border-y p-1 text-center"
                  style="width: 16%;"
                >Discount</th>
                <th class="border-y p-1 text-center" style="width: 18%;">Net
                  Price</th>
                <th
                  class="border-y p-1 text-center"
                  style="width: 16%;"
                >Cost</th>
                <th
                  class="border-y p-1 text-center"
                  style="width: 16%;"
                >Expense</th>
                <th
                  class="border-y p-1 text-center"
                  style="width: 18%;"
                >Profit</th>
              </tr>
            </thead>
            <tbody>
              {{#each Items}}
                <tr class="odd:bg-white even:bg-gray-100">
                  <td class="border-y p-1 text-center">${{SalePrice}}</td>
                  <td class="border-y p-1 text-center">${{Discount}}</td>
                  <td class="border-y p-1 text-center">${{NetPrice}}</td>
                  <td class="border-y p-1 text-center">${{Cost}}</td>
                  <td class="border-y p-1 text-center">${{Expense}}</td>
                  <td class="border-y p-1 text-center">${{Profit}}</td>
                </tr>
                <tr class="">
                  <td colspan="6">
                    <div class="flex flex-col">
                      <div class="border-b">
                        <span class="px-2 py-1.5 text-sm">Payments</span>
                      </div>
                        <table class="w-full">
                            {{#each Payments}}
                                <tr class="odd:bg-white even:bg-gray-100 border-b border-b-gray-400 border-dashed">
                                    <td class=" py-0.5 px-8 text-sm">{{PaymentType}}</td>
                                    <td class=" py-0.5 px-8 text-right text-sm">${{TotalReceived}}</td>
                                </tr>
                            {{/each}}
                        </table>
                    </div>
                  </td>
                </tr>
              {{/each}}
              <!-- Subtotal row for the date group -->

            </tbody>
          </table>
        </div>
      {{/each}}

      <div class="w-full mt-8 flex flex-col">
        <div class="py-1 text-center border-y font-semibold w-full text-sm">Total
          Received</div>
        {{#each Payments}}
          <div
            class="flex justify-between items-center gap-1 w-full border-b border-b-gray-400 border-dashed py-1 px-8 odd:bg-gray-100 even:bg-white"
          >
            <div class="flex items-center gap-12">
              <span
                class="font-semibold text-gray-700 text-sm"
              >{{PaymentType}}</span>
            </div>
            <span
              class="font-semibold text-gray-800 text-sm"
            >${{TotalReceived}}</span>
          </div>
        {{/each}}
      </div>
    </div>
  </body>
</html>